<h1>Listing categories</h1>

<table cellpadding="6px" cellspacing="0" border="1">
  <tr>
    <th>Title</th>
		<th>Short Title</th>
    <th>Description</th>
    <th>Identifier</th>
		<th colspan="4">Original Pr&uuml;fung</th>
  </tr>

  <%= render @categories %>

</table>

<br />

<%= link_to 'New category', new_category_path %>